<<<<<<< HEAD
.footer {
    background-color: var(--first-color-darken);
    color: var(--first-color-lighten);
    text-align: center;
  }
  
  .footer__title {
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-2);
  }
  
  .footer__description {
    margin-bottom: var(--mb-2);
  }
  
  .footer__social {
    margin-bottom: 3rem;
  }
  
  .footer__link {
    display: inline-flex;
    background-color: var(--first-color);
    color: var(--first-color-lighten);
    font-size: 1.1rem;
    border-radius: 50%;
    padding: 0.4rem;
    margin: 0 var(--mb-1);
    transition: 0.3s;
  }
  
  .footer__link:hover {
    background-color: var(--first-color-lighten);
    color: var(--first-color);
=======
.footer {
    background-color: var(--first-color-darken);
    color: var(--first-color-lighten);
    text-align: center;
  }
  
  .footer__title {
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-2);
  }
  
  .footer__description {
    margin-bottom: var(--mb-2);
  }
  
  .footer__social {
    margin-bottom: 3rem;
  }
  
  .footer__link {
    display: inline-flex;
    background-color: var(--first-color);
    color: var(--first-color-lighten);
    font-size: 1.1rem;
    border-radius: 50%;
    padding: 0.4rem;
    margin: 0 var(--mb-1);
    transition: 0.3s;
  }
  
  .footer__link:hover {
    background-color: var(--first-color-lighten);
    color: var(--first-color);
>>>>>>> 1bcfb92849dad7ad143d7b07a2c276a874934989
  }